## 0. Import

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## 1. Load data

In [2]:
df = pd.read_csv('cleaned_data.csv')

In [3]:
df

,Unnamed: 0,CustomerID,ReportedFraud,DateOfIncident,TypeOfIncident,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,...,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,InsuredRelationship,VehicleID,VehicleMake,VehicleModel,VehicleYOM
0,0,Cust20065,N,2015-01-09,Multi-vehicle Collision,Total Loss,Other,State9,City4,Location 1404,...,1998-11-14,State2,250/500,2000,1142.87,own-child,Vehicle30662,Mercedes,E400,2005
1,1,Cust37589,N,2015-02-20,Single Vehicle Collision,Minor Damage,Ambulance,State4,City3,Location 1675,...,2000-08-19,State2,100/300,1000,1274.38,own-child,Vehicle17183,Toyota,Highlander,2010
2,2,Cust24312,N,2015-01-14,Multi-vehicle Collision,Major Damage,Ambulance,State5,City2,Location 1546,...,2000-06-23,State1,500/1000,745,1269.93,other-relative,Vehicle33982,Volkswagen,Passat,2002
3,3,Cust5493,Y,2015-01-07,Multi-vehicle Collision,Major Damage,Ambulance,State7,City4,Location 1413,...,1992-01-15,State2,100/300,986,1218.60,other-relative,Vehicle12299,Toyota,Highlander,2011
4,4,Cust7704,Y,2015-02-26,Multi-vehicle Collision,Major Damage,Other,State4,City6,Location 1367,...,2001-09-23,State3,250/500,576,1431.02,unmarried,Vehicle30447,Ford,Wrangler,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,28831,Cust9773,N,2015-02-13,Single Vehicle Collision,Minor Damage,Fire,State7,City3,Location 1324,...,2007-02-07,State2,250/500,1000,1108.55,unmarried,Vehicle24503,Nissan,RSX,2002
27145,28832,Cust38439,N,2015-01-19,Multi-vehicle Collision,Total Loss,Police,State5,City3,Location 1880,...,2006-10-18,State2,100/300,1008,1551.84,own-child,Vehicle9733,Accura,RSX,2014
27146,28833,Cust38444,N,2015-01-21,Multi-vehicle Collision,Total Loss,Police,State5,City7,Location 1632,...,2011-11-23,State1,100/300,660,1119.32,not-in-family,Vehicle1823,Saab,RSX,2013
27147,28834,Cust26466,N,2015-01-02,Parked Car,Trivial Damage,None,State4,City7,Location 1364,...,1997-08-04,State3,250/1000,1674,1229.88,wife,Vehicle9113,Accura,RSX,2004
27148,28835,Cust29555,N,2015-01-16,Single Vehicle Collision,Total Loss,Police,State8,City7,Location 1950,...,2008-01-04,State2,250/1000,500,1341.72,wife,Vehicle7530,Volkswagen,RSX,2009

In [4]:
df.drop('Unnamed: 0', axis = 1, inplace = True)
df

,CustomerID,ReportedFraud,DateOfIncident,TypeOfIncident,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,InsuredRelationship,VehicleID,VehicleMake,VehicleModel,VehicleYOM
0,Cust20065,N,2015-01-09,Multi-vehicle Collision,Total Loss,Other,State9,City4,Location 1404,19,...,1998-11-14,State2,250/500,2000,1142.87,own-child,Vehicle30662,Mercedes,E400,2005
1,Cust37589,N,2015-02-20,Single Vehicle Collision,Minor Damage,Ambulance,State4,City3,Location 1675,14,...,2000-08-19,State2,100/300,1000,1274.38,own-child,Vehicle17183,Toyota,Highlander,2010
2,Cust24312,N,2015-01-14,Multi-vehicle Collision,Major Damage,Ambulance,State5,City2,Location 1546,21,...,2000-06-23,State1,500/1000,745,1269.93,other-relative,Vehicle33982,Volkswagen,Passat,2002
3,Cust5493,Y,2015-01-07,Multi-vehicle Collision,Major Damage,Ambulance,State7,City4,Location 1413,12,...,1992-01-15,State2,100/300,986,1218.60,other-relative,Vehicle12299,Toyota,Highlander,2011
4,Cust7704,Y,2015-02-26,Multi-vehicle Collision,Major Damage,Other,State4,City6,Location 1367,3,...,2001-09-23,State3,250/500,576,1431.02,unmarried,Vehicle30447,Ford,Wrangler,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,Cust9773,N,2015-02-13,Single Vehicle Collision,Minor Damage,Fire,State7,City3,Location 1324,16,...,2007-02-07,State2,250/500,1000,1108.55,unmarried,Vehicle24503,Nissan,RSX,2002
27145,Cust38439,N,2015-01-19,Multi-vehicle Collision,Total Loss,Police,State5,City3,Location 1880,19,...,2006-10-18,State2,100/300,1008,1551.84,own-child,Vehicle9733,Accura,RSX,2014
27146,Cust38444,N,2015-01-21,Multi-vehicle Collision,Total Loss,Police,State5,City7,Location 1632,16,...,2011-11-23,State1,100/300,660,1119.32,not-in-family,Vehicle1823,Saab,RSX,2013
27147,Cust26466,N,2015-01-02,Parked Car,Trivial Damage,None,State4,City7,Location 1364,12,...,1997-08-04,State3,250/1000,1674,1229.88,wife,Vehicle9113,Accura,RSX,2004
27148,Cust29555,N,2015-01-16,Single Vehicle Collision,Total Loss,Police,State8,City7,Location 1950,11,...,2008-01-04,State2,250/1000,500,1341.72,wife,Vehicle7530,Volkswagen,RSX,2009

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27149 entries, 0 to 27148
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CustomerID                  27149 non-null  object
 1   ReportedFraud               27149 non-null  object
 2   DateOfIncident              27149 non-null  object
 3   TypeOfIncident              27149 non-null  object
 4   SeverityOfIncident          27149 non-null  object
 5   AuthoritiesContacted        27149 non-null  object
 6   IncidentState               27149 non-null  object
 7   IncidentCity                27149 non-null  object
 8   IncidentAddress             27149 non-null  object
 9   IncidentTime                27149 non-null  int64
 10  NumberOfVehicles            27149 non-null  int64
 11  BodilyInjuries              27149 non-null  int64
 12  Witnesses                   27149 non-null  int64
 13  AmountOfInjuryClaim         27149 non-null  float64
 14  AmountOfPropertyClaim       27149 non-null  float64
 15  AmountOfVehicleDamage       27149 non-null  float64
 16  InsuredAge                  27149 non-null  int64
 17  InsuredZipCode              27149 non-null  int64
 18  InsuredGender               27149 non-null  object
 19  InsuredEducationLevel       27149 non-null  object
 20  InsuredOccupation           27149 non-null  object
 21  InsuredHobbies              27149 non-null  object
 22  CapitalGains                27149 non-null  int64
 23  CapitalLoss                 27149 non-null  int64
 24  InsurancePolicyNumber       27149 non-null  int64
 25  CustomerLoyaltyPeriod       27149 non-null  int64
 26  DateOfPolicyCoverage        27149 non-null  object
 27  InsurancePolicyState        27149 non-null  object
 28  Policy_CombinedSingleLimit  27149 non-null  object
 29  Policy_Deductible           27149 non-null  int64
 30  PolicyAnnualPremium         27149 non-null  float64
 31  InsuredRelationship         27149 non-null  object
 32  VehicleID                   27149 non-null  object
 33  VehicleMake                 27149 non-null  object
 34  VehicleModel                27149 non-null  object
 35  VehicleYOM                  27149 non-null  int64
dtypes: float64(4), int64(12), object(20)
memory usage: 7.5+ MB

## 2. Categorical variable processing

## 2.1 Investigate categorical variables and drop the ones with many values

In [6]:
df.select_dtypes(include = 'O')

,CustomerID,ReportedFraud,DateOfIncident,TypeOfIncident,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,InsuredGender,InsuredEducationLevel,InsuredOccupation,InsuredHobbies,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,InsuredRelationship,VehicleID,VehicleMake,VehicleModel
0,Cust20065,N,2015-01-09,Multi-vehicle Collision,Total Loss,Other,State9,City4,Location 1404,MALE,JD,sales,video-games,1998-11-14,State2,250/500,own-child,Vehicle30662,Mercedes,E400
1,Cust37589,N,2015-02-20,Single Vehicle Collision,Minor Damage,Ambulance,State4,City3,Location 1675,FEMALE,High School,transport-moving,polo,2000-08-19,State2,100/300,own-child,Vehicle17183,Toyota,Highlander
2,Cust24312,N,2015-01-14,Multi-vehicle Collision,Major Damage,Ambulance,State5,City2,Location 1546,FEMALE,PhD,machine-op-inspct,exercise,2000-06-23,State1,500/1000,other-relative,Vehicle33982,Volkswagen,Passat
3,Cust5493,Y,2015-01-07,Multi-vehicle Collision,Major Damage,Ambulance,State7,City4,Location 1413,FEMALE,College,exec-managerial,exercise,1992-01-15,State2,100/300,other-relative,Vehicle12299,Toyota,Highlander
4,Cust7704,Y,2015-02-26,Multi-vehicle Collision,Major Damage,Other,State4,City6,Location 1367,MALE,Masters,sales,chess,2001-09-23,State3,250/500,unmarried,Vehicle30447,Ford,Wrangler
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,Cust9773,N,2015-02-13,Single Vehicle Collision,Minor Damage,Fire,State7,City3,Location 1324,MALE,JD,farming-fishing,basketball,2007-02-07,State2,250/500,unmarried,Vehicle24503,Nissan,RSX
27145,Cust38439,N,2015-01-19,Multi-vehicle Collision,Total Loss,Police,State5,City3,Location 1880,MALE,Associate,prof-specialty,golf,2006-10-18,State2,100/300,own-child,Vehicle9733,Accura,RSX
27146,Cust38444,N,2015-01-21,Multi-vehicle Collision,Total Loss,Police,State5,City7,Location 1632,MALE,Associate,prof-specialty,golf,2011-11-23,State1,100/300,not-in-family,Vehicle1823,Saab,RSX
27147,Cust26466,N,2015-01-02,Parked Car,Trivial Damage,None,State4,City7,Location 1364,FEMALE,Masters,exec-managerial,reading,1997-08-04,State3,250/1000,wife,Vehicle9113,Accura,RSX
27148,Cust29555,N,2015-01-16,Single Vehicle Collision,Total Loss,Police,State8,City7,Location 1950,FEMALE,PhD,tech-support,reading,2008-01-04,State2,250/1000,wife,Vehicle7530,Volkswagen,RSX

In [7]:
df.select_dtypes(include = 'O').nunique()

CustomerID                    27149
ReportedFraud                     2
DateOfIncident                   71
TypeOfIncident                    4
SeverityOfIncident                4
AuthoritiesContacted              5
IncidentState                     7
IncidentCity                      7
IncidentAddress                1000
InsuredGender                     2
InsuredEducationLevel             7
InsuredOccupation                14
InsuredHobbies                   20
DateOfPolicyCoverage           6627
InsurancePolicyState              3
Policy_CombinedSingleLimit        9
InsuredRelationship               6
VehicleID                     27149
VehicleMake                      14
VehicleModel                     39
dtype: int64

In [8]:
df.drop(columns = ['CustomerID','DateOfIncident', 'IncidentAddress', 
                   'DateOfPolicyCoverage', 'VehicleID'], inplace = True)

In [9]:
df.select_dtypes(include = 'O').nunique()

ReportedFraud                  2
TypeOfIncident                 4
SeverityOfIncident             4
AuthoritiesContacted           5
IncidentState                  7
IncidentCity                   7
InsuredGender                  2
InsuredEducationLevel          7
InsuredOccupation             14
InsuredHobbies                20
InsurancePolicyState           3
Policy_CombinedSingleLimit     9
InsuredRelationship            6
VehicleMake                   14
VehicleModel                  39
dtype: int64

## 2.1 Binary Categorical variable processing

In [10]:
df.ReportedFraud.value_counts()

N    19971
Y     7178
Name: ReportedFraud, dtype: int64

In [11]:
df.ReportedFraud.replace(['N', 'Y'], [0, 1], inplace = True)

In [12]:
df.ReportedFraud.value_counts()

0    19971
1     7178
Name: ReportedFraud, dtype: int64

In [13]:
df.InsuredGender.value_counts()

FEMALE    14903
MALE      12246
Name: InsuredGender, dtype: int64

In [14]:
df.InsuredGender.replace(['FEMALE', 'MALE'], [0, 1], inplace = True)

In [15]:
df.InsuredGender.value_counts()

0    14903
1    12246
Name: InsuredGender, dtype: int64

In [16]:
df.select_dtypes(include = 'O').nunique()

TypeOfIncident                 4
SeverityOfIncident             4
AuthoritiesContacted           5
IncidentState                  7
IncidentCity                   7
InsuredEducationLevel          7
InsuredOccupation             14
InsuredHobbies                20
InsurancePolicyState           3
Policy_CombinedSingleLimit     9
InsuredRelationship            6
VehicleMake                   14
VehicleModel                  39
dtype: int64

## 2.1 Categorical processing with order encoder

In [17]:
df.SeverityOfIncident.unique()

array(['Total Loss', 'Minor Damage', 'Major Damage', 'Trivial Damage'],
      dtype=object)

In [18]:
df.SeverityOfIncident.value_counts()

Minor Damage      9878
Total Loss        7724
Major Damage      7068
Trivial Damage    2479
Name: SeverityOfIncident, dtype: int64

In [19]:
df.SeverityOfIncident.replace(['Trivial Damage', 'Minor Damage', 'Major Damage', 'Total Loss'], 
                               range(4), inplace = True)

In [20]:
df.SeverityOfIncident.value_counts()

1    9878
3    7724
2    7068
0    2479
Name: SeverityOfIncident, dtype: int64

In [21]:
df.InsuredEducationLevel.value_counts()

JD             4523
High School    4285
Associate      3948
MD             3931
Masters        3901
PhD            3357
College        3204
Name: InsuredEducationLevel, dtype: int64

In [22]:
df.InsuredEducationLevel.replace(['High School', 'Associate', 'College', 'Masters', 'JD', 'MD', 'PhD'], 
                               range(7), inplace = True)

In [23]:
df.InsuredEducationLevel.value_counts()

4    4523
0    4285
1    3948
5    3931
3    3901
6    3357
2    3204
Name: InsuredEducationLevel, dtype: int64

In [24]:
df.select_dtypes(include = 'O').nunique()

TypeOfIncident                 4
AuthoritiesContacted           5
IncidentState                  7
IncidentCity                   7
InsuredOccupation             14
InsuredHobbies                20
InsurancePolicyState           3
Policy_CombinedSingleLimit     9
InsuredRelationship            6
VehicleMake                   14
VehicleModel                  39
dtype: int64

## 2.2 Categorical processing with One-Hot-Encoder

In [25]:
df_c = df.select_dtypes(include = 'O')

In [26]:
df_c

,TypeOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,InsuredOccupation,InsuredHobbies,InsurancePolicyState,Policy_CombinedSingleLimit,InsuredRelationship,VehicleMake,VehicleModel
0,Multi-vehicle Collision,Other,State9,City4,sales,video-games,State2,250/500,own-child,Mercedes,E400
1,Single Vehicle Collision,Ambulance,State4,City3,transport-moving,polo,State2,100/300,own-child,Toyota,Highlander
2,Multi-vehicle Collision,Ambulance,State5,City2,machine-op-inspct,exercise,State1,500/1000,other-relative,Volkswagen,Passat
3,Multi-vehicle Collision,Ambulance,State7,City4,exec-managerial,exercise,State2,100/300,other-relative,Toyota,Highlander
4,Multi-vehicle Collision,Other,State4,City6,sales,chess,State3,250/500,unmarried,Ford,Wrangler
...,...,...,...,...,...,...,...,...,...,...,...
27144,Single Vehicle Collision,Fire,State7,City3,farming-fishing,basketball,State2,250/500,unmarried,Nissan,RSX
27145,Multi-vehicle Collision,Police,State5,City3,prof-specialty,golf,State2,100/300,own-child,Accura,RSX
27146,Multi-vehicle Collision,Police,State5,City7,prof-specialty,golf,State1,100/300,not-in-family,Saab,RSX
27147,Parked Car,None,State4,City7,exec-managerial,reading,State3,250/1000,wife,Accura,RSX
27148,Single Vehicle Collision,Police,State8,City7,tech-support,reading,State2,250/1000,wife,Volkswagen,RSX

In [27]:
df_n = df.select_dtypes(exclude = 'O')

In [28]:
df_n

,ReportedFraud,SeverityOfIncident,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,InsuredZipCode,InsuredGender,InsuredEducationLevel,CapitalGains,CapitalLoss,InsurancePolicyNumber,CustomerLoyaltyPeriod,Policy_Deductible,PolicyAnnualPremium,VehicleYOM
0,0,3,19,3,1,1,9396.0,4698.0,29879.0,58,471784,1,4,0,-42700,129186,432,2000,1142.87,2005
1,0,1,14,1,1,1,6539.0,6539.0,49232.0,34,431937,0,0,51300,0,146710,128,1000,1274.38,2010
2,0,2,21,3,0,0,6069.0,6069.0,30686.0,52,479320,0,6,0,0,133433,346,745,1269.93,2002
3,1,2,12,3,2,0,253.0,5741.0,39678.0,25,607763,0,2,47400,-56100,114614,42,986,1218.60,2011
4,1,2,3,3,1,2,7407.0,14813.0,59252.0,27,441783,1,3,0,0,116825,109,576,1431.02,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,0,1,16,1,1,2,5543.0,5543.0,39429.0,39,454139,1,4,0,0,118894,251,1000,1108.55,2002
27145,0,3,19,3,2,0,8678.0,8738.0,76245.5,21,463809,1,1,20000,-75000,147560,14,1008,1551.84,2014
27146,0,3,16,3,2,0,13224.0,7990.0,66679.0,35,444155,1,1,0,-75000,147565,153,660,1119.32,2013
27147,0,0,12,1,1,1,728.0,1457.0,5099.0,40,603123,0,3,0,-63900,135587,241,1674,1229.88,2004
27148,0,3,11,1,2,3,15757.0,16322.0,58255.0,27,463291,0,6,51100,0,138676,113,500,1341.72,2009

In [29]:
dummies_df_c = pd.get_dummies(df_c, drop_first = True)

In [30]:
dummies_df_c

,TypeOfIncident_Parked Car,TypeOfIncident_Single Vehicle Collision,TypeOfIncident_Vehicle Theft,AuthoritiesContacted_Fire,AuthoritiesContacted_None,AuthoritiesContacted_Other,AuthoritiesContacted_Police,IncidentState_State4,IncidentState_State5,IncidentState_State6,...,VehicleModel_Pathfinder,VehicleModel_RAM,VehicleModel_RSX,VehicleModel_Silverado,VehicleModel_TL,VehicleModel_Tahoe,VehicleModel_Ultima,VehicleModel_Wrangler,VehicleModel_X5,VehicleModel_X6
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,0,1,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
27145,0,0,0,0,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
27146,0,0,0,0,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
27147,1,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
27148,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [31]:
df1 = pd.concat([df_n, dummies_df_c], axis = 1)

In [32]:
df1

,ReportedFraud,SeverityOfIncident,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,...,VehicleModel_Pathfinder,VehicleModel_RAM,VehicleModel_RSX,VehicleModel_Silverado,VehicleModel_TL,VehicleModel_Tahoe,VehicleModel_Ultima,VehicleModel_Wrangler,VehicleModel_X5,VehicleModel_X6
0,0,3,19,3,1,1,9396.0,4698.0,29879.0,58,...,0,0,0,0,0,0,0,0,0,0
1,0,1,14,1,1,1,6539.0,6539.0,49232.0,34,...,0,0,0,0,0,0,0,0,0,0
2,0,2,21,3,0,0,6069.0,6069.0,30686.0,52,...,0,0,0,0,0,0,0,0,0,0
3,1,2,12,3,2,0,253.0,5741.0,39678.0,25,...,0,0,0,0,0,0,0,0,0,0
4,1,2,3,3,1,2,7407.0,14813.0,59252.0,27,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,0,1,16,1,1,2,5543.0,5543.0,39429.0,39,...,0,0,1,0,0,0,0,0,0,0
27145,0,3,19,3,2,0,8678.0,8738.0,76245.5,21,...,0,0,1,0,0,0,0,0,0,0
27146,0,3,16,3,2,0,13224.0,7990.0,66679.0,35,...,0,0,1,0,0,0,0,0,0,0
27147,0,0,12,1,1,1,728.0,1457.0,5099.0,40,...,0,0,1,0,0,0,0,0,0,0
27148,0,3,11,1,2,3,15757.0,16322.0,58255.0,27,...,0,0,1,0,0,0,0,0,0,0

## 3. Train-test splitting and Standardization

In [33]:
X = df1.drop(columns = ['ReportedFraud'])
y = df1['ReportedFraud']

In [34]:
X.shape, y.shape

((27149, 136), (27149,))

In [35]:
col_names = X.columns
col_names

Index(['SeverityOfIncident', 'IncidentTime', 'NumberOfVehicles',
       'BodilyInjuries', 'Witnesses', 'AmountOfInjuryClaim',
       'AmountOfPropertyClaim', 'AmountOfVehicleDamage', 'InsuredAge',
       'InsuredZipCode',
       ...
       'VehicleModel_Pathfinder', 'VehicleModel_RAM', 'VehicleModel_RSX',
       'VehicleModel_Silverado', 'VehicleModel_TL', 'VehicleModel_Tahoe',
       'VehicleModel_Ultima', 'VehicleModel_Wrangler', 'VehicleModel_X5',
       'VehicleModel_X6'],
      dtype='object', length=136)

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [37]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((21719, 136), (21719,), (5430, 136), (5430,))

In [38]:
scale = StandardScaler()
X_train_scaled = scale.fit_transform(X_train)
X_test_scaled = scale.fit_transform(X_test)

In [39]:
X_train_scaled.shape, X_test_scaled.shape

((21719, 136), (5430, 136))

In [40]:
df_X_train_scaled = pd.DataFrame(X_train_scaled, columns = col_names)
df_X_test_scaled = pd.DataFrame(X_test_scaled, columns = col_names)

In [41]:
df_X_train_scaled

,SeverityOfIncident,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,InsuredZipCode,...,VehicleModel_Pathfinder,VehicleModel_RAM,VehicleModel_RSX,VehicleModel_Silverado,VehicleModel_TL,VehicleModel_Tahoe,VehicleModel_Ultima,VehicleModel_Wrangler,VehicleModel_X5,VehicleModel_X6
0,-0.757628,1.679184,-0.812326,1.286021,0.484845,1.505300,1.542087,0.289712,2.447573,-0.418054,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
1,-1.785419,-1.098216,-0.812326,1.286021,-1.439209,-1.371709,-1.500071,-1.828482,-1.481041,1.364772,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
2,0.270162,0.535549,-0.812326,1.286021,1.446872,-0.240155,0.429492,-0.165702,-0.087017,-0.944147,...,-0.179097,-0.21796,-0.121898,6.609788,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
3,1.297953,1.025678,1.347281,0.007944,0.484845,1.726574,1.766891,1.081860,0.673360,-0.864977,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,6.274543,-0.126485
4,1.297953,0.698925,1.347281,1.286021,1.446872,0.024744,-1.544392,0.604494,0.039713,1.353719,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21714,-0.757628,-0.444710,-0.812326,0.007944,1.446872,1.070398,-0.275532,0.248898,1.180278,-0.497431,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
21715,1.297953,1.189055,0.267477,1.286021,-0.477182,0.178782,0.194408,1.746455,-1.607771,-0.534630,...,-0.179097,-0.21796,8.203581,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
21716,1.297953,-0.771463,-0.812326,0.007944,-0.477182,-0.552501,0.318233,-0.181646,0.293172,1.448064,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
21717,1.297953,-1.751722,-0.812326,0.007944,-1.439209,0.266482,-0.417176,0.135887,-0.213746,-0.815273,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
21718,-1.785419,-0.934839,-0.812326,1.286021,1.446872,-1.509781,-1.460319,-1.833956,0.673360,-0.459776,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,4.615059,-0.159374,-0.126485

In [42]:
df_X_test_scaled

,SeverityOfIncident,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,InsuredZipCode,...,VehicleModel_Pathfinder,VehicleModel_RAM,VehicleModel_RSX,VehicleModel_Silverado,VehicleModel_TL,VehicleModel_Tahoe,VehicleModel_Ultima,VehicleModel_Wrangler,VehicleModel_X5,VehicleModel_X6
0,0.266752,-0.958209,-0.840763,-1.262649,0.485364,0.591330,0.610416,0.392678,0.376169,1.600463,...,-0.175362,-0.226061,-0.110925,-0.169127,-0.157845,6.514599,-0.151605,-0.216444,-0.150329,-0.122284
1,-0.765652,1.821473,1.300077,-1.262649,-1.447548,-0.203370,1.192770,0.604440,0.879922,1.547296,...,-0.175362,-0.226061,-0.110925,-0.169127,-0.157845,-0.153501,-0.151605,-0.216444,-0.150329,-0.122284
2,1.299155,1.330941,1.300077,-1.262649,1.451820,0.500332,-0.571476,-0.190266,0.628046,1.416887,...,-0.175362,-0.226061,-0.110925,-0.169127,-0.157845,-0.153501,-0.151605,4.620138,-0.150329,-0.122284
3,1.299155,-0.467677,-0.840763,0.016013,-1.447548,-0.419178,0.531150,0.226943,-1.764785,-0.981396,...,-0.175362,-0.226061,-0.110925,-0.169127,-0.157845,-0.153501,-0.151605,-0.216444,-0.150329,-0.122284
4,0.266752,1.167430,-0.840763,-1.262649,0.485364,-0.269179,0.678456,0.874235,1.761492,-0.371782,...,-0.175362,-0.226061,-0.110925,-0.169127,-0.157845,-0.153501,-0.151605,-0.216444,-0.150329,-0.122284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5425,-0.765652,0.186366,-0.840763,0.016013,-0.481092,1.805164,-0.426460,1.200241,-1.512908,-0.944146,...,-0.175362,-0.226061,-0.110925,-0.169127,-0.157845,-0.153501,-0.151605,-0.216444,-0.150329,-0.122284
5426,0.266752,0.022855,-0.840763,-1.262649,-0.481092,1.413714,1.440649,1.229997,-0.883216,1.433465,...,-0.175362,-0.226061,-0.110925,-0.169127,-0.157845,-0.153501,-0.151605,-0.216444,-0.150329,-0.122284
5427,-1.798055,-0.958209,-0.840763,1.294675,-1.447548,-1.527944,-1.414080,-1.859016,-1.261031,-0.410520,...,-0.175362,-0.226061,-0.110925,-0.169127,-0.157845,-0.153501,-0.151605,-0.216444,-0.150329,-0.122284
5428,0.266752,-1.775762,-0.840763,0.016013,-0.481092,-0.568949,0.514655,0.034013,-1.261031,1.576870,...,-0.175362,-0.226061,-0.110925,-0.169127,-0.157845,-0.153501,-0.151605,-0.216444,-0.150329,-0.122284
5429,1.299155,-1.939273,-0.840763,-1.262649,-0.481092,2.465295,-0.082362,1.062329,0.502107,-0.474753,...,5.702501,-0.226061,-0.110925,-0.169127,-0.157845,-0.153501,-0.151605,-0.216444,-0.150329,-0.122284