## 0. Import

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

## 1. Load data

In [2]:
df = pd.read_csv('cleaned_data.csv')

In [3]:
df

,Unnamed: 0,CustomerID,ReportedFraud,DateOfIncident,TypeOfIncident,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,...,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,InsuredRelationship,VehicleID,VehicleMake,VehicleModel,VehicleYOM
0,0,Cust20065,N,2015-01-09,Multi-vehicle Collision,Total Loss,Other,State9,City4,Location 1404,...,1998-11-14,State2,250/500,2000,1142.87,own-child,Vehicle30662,Mercedes,E400,2005
1,1,Cust37589,N,2015-02-20,Single Vehicle Collision,Minor Damage,Ambulance,State4,City3,Location 1675,...,2000-08-19,State2,100/300,1000,1274.38,own-child,Vehicle17183,Toyota,Highlander,2010
2,2,Cust24312,N,2015-01-14,Multi-vehicle Collision,Major Damage,Ambulance,State5,City2,Location 1546,...,2000-06-23,State1,500/1000,745,1269.93,other-relative,Vehicle33982,Volkswagen,Passat,2002
3,3,Cust5493,Y,2015-01-07,Multi-vehicle Collision,Major Damage,Ambulance,State7,City4,Location 1413,...,1992-01-15,State2,100/300,986,1218.60,other-relative,Vehicle12299,Toyota,Highlander,2011
4,4,Cust7704,Y,2015-02-26,Multi-vehicle Collision,Major Damage,Other,State4,City6,Location 1367,...,2001-09-23,State3,250/500,576,1431.02,unmarried,Vehicle30447,Ford,Wrangler,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,28831,Cust9773,N,2015-02-13,Single Vehicle Collision,Minor Damage,Fire,State7,City3,Location 1324,...,2007-02-07,State2,250/500,1000,1108.55,unmarried,Vehicle24503,Nissan,RSX,2002
27145,28832,Cust38439,N,2015-01-19,Multi-vehicle Collision,Total Loss,Police,State5,City3,Location 1880,...,2006-10-18,State2,100/300,1008,1551.84,own-child,Vehicle9733,Accura,RSX,2014
27146,28833,Cust38444,N,2015-01-21,Multi-vehicle Collision,Total Loss,Police,State5,City7,Location 1632,...,2011-11-23,State1,100/300,660,1119.32,not-in-family,Vehicle1823,Saab,RSX,2013
27147,28834,Cust26466,N,2015-01-02,Parked Car,Trivial Damage,None,State4,City7,Location 1364,...,1997-08-04,State3,250/1000,1674,1229.88,wife,Vehicle9113,Accura,RSX,2004
27148,28835,Cust29555,N,2015-01-16,Single Vehicle Collision,Total Loss,Police,State8,City7,Location 1950,...,2008-01-04,State2,250/1000,500,1341.72,wife,Vehicle7530,Volkswagen,RSX,2009

In [4]:
df.drop('Unnamed: 0', axis = 1, inplace = True)
df

,CustomerID,ReportedFraud,DateOfIncident,TypeOfIncident,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,IncidentTime,...,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,Policy_Deductible,PolicyAnnualPremium,InsuredRelationship,VehicleID,VehicleMake,VehicleModel,VehicleYOM
0,Cust20065,N,2015-01-09,Multi-vehicle Collision,Total Loss,Other,State9,City4,Location 1404,19,...,1998-11-14,State2,250/500,2000,1142.87,own-child,Vehicle30662,Mercedes,E400,2005
1,Cust37589,N,2015-02-20,Single Vehicle Collision,Minor Damage,Ambulance,State4,City3,Location 1675,14,...,2000-08-19,State2,100/300,1000,1274.38,own-child,Vehicle17183,Toyota,Highlander,2010
2,Cust24312,N,2015-01-14,Multi-vehicle Collision,Major Damage,Ambulance,State5,City2,Location 1546,21,...,2000-06-23,State1,500/1000,745,1269.93,other-relative,Vehicle33982,Volkswagen,Passat,2002
3,Cust5493,Y,2015-01-07,Multi-vehicle Collision,Major Damage,Ambulance,State7,City4,Location 1413,12,...,1992-01-15,State2,100/300,986,1218.60,other-relative,Vehicle12299,Toyota,Highlander,2011
4,Cust7704,Y,2015-02-26,Multi-vehicle Collision,Major Damage,Other,State4,City6,Location 1367,3,...,2001-09-23,State3,250/500,576,1431.02,unmarried,Vehicle30447,Ford,Wrangler,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,Cust9773,N,2015-02-13,Single Vehicle Collision,Minor Damage,Fire,State7,City3,Location 1324,16,...,2007-02-07,State2,250/500,1000,1108.55,unmarried,Vehicle24503,Nissan,RSX,2002
27145,Cust38439,N,2015-01-19,Multi-vehicle Collision,Total Loss,Police,State5,City3,Location 1880,19,...,2006-10-18,State2,100/300,1008,1551.84,own-child,Vehicle9733,Accura,RSX,2014
27146,Cust38444,N,2015-01-21,Multi-vehicle Collision,Total Loss,Police,State5,City7,Location 1632,16,...,2011-11-23,State1,100/300,660,1119.32,not-in-family,Vehicle1823,Saab,RSX,2013
27147,Cust26466,N,2015-01-02,Parked Car,Trivial Damage,None,State4,City7,Location 1364,12,...,1997-08-04,State3,250/1000,1674,1229.88,wife,Vehicle9113,Accura,RSX,2004
27148,Cust29555,N,2015-01-16,Single Vehicle Collision,Total Loss,Police,State8,City7,Location 1950,11,...,2008-01-04,State2,250/1000,500,1341.72,wife,Vehicle7530,Volkswagen,RSX,2009

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27149 entries, 0 to 27148
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CustomerID                  27149 non-null  object
 1   ReportedFraud               27149 non-null  object
 2   DateOfIncident              27149 non-null  object
 3   TypeOfIncident              27149 non-null  object
 4   SeverityOfIncident          27149 non-null  object
 5   AuthoritiesContacted        27149 non-null  object
 6   IncidentState               27149 non-null  object
 7   IncidentCity                27149 non-null  object
 8   IncidentAddress             27149 non-null  object
 9   IncidentTime                27149 non-null  int64
 10  NumberOfVehicles            27149 non-null  int64
 11  BodilyInjuries              27149 non-null  int64
 12  Witnesses                   27149 non-null  int64
 13  AmountOfInjuryClaim         27149 non-null  float64
 14  AmountOfPropertyClaim       27149 non-null  float64
 15  AmountOfVehicleDamage       27149 non-null  float64
 16  InsuredAge                  27149 non-null  int64
 17  InsuredZipCode              27149 non-null  int64
 18  InsuredGender               27149 non-null  object
 19  InsuredEducationLevel       27149 non-null  object
 20  InsuredOccupation           27149 non-null  object
 21  InsuredHobbies              27149 non-null  object
 22  CapitalGains                27149 non-null  int64
 23  CapitalLoss                 27149 non-null  int64
 24  InsurancePolicyNumber       27149 non-null  int64
 25  CustomerLoyaltyPeriod       27149 non-null  int64
 26  DateOfPolicyCoverage        27149 non-null  object
 27  InsurancePolicyState        27149 non-null  object
 28  Policy_CombinedSingleLimit  27149 non-null  object
 29  Policy_Deductible           27149 non-null  int64
 30  PolicyAnnualPremium         27149 non-null  float64
 31  InsuredRelationship         27149 non-null  object
 32  VehicleID                   27149 non-null  object
 33  VehicleMake                 27149 non-null  object
 34  VehicleModel                27149 non-null  object
 35  VehicleYOM                  27149 non-null  int64
dtypes: float64(4), int64(12), object(20)
memory usage: 7.5+ MB

## 2. Categorical variable processing

## 2.1 Investigate categorical variables and drop the ones with many values

In [6]:
df.select_dtypes(include = 'O')

,CustomerID,ReportedFraud,DateOfIncident,TypeOfIncident,SeverityOfIncident,AuthoritiesContacted,IncidentState,IncidentCity,IncidentAddress,InsuredGender,InsuredEducationLevel,InsuredOccupation,InsuredHobbies,DateOfPolicyCoverage,InsurancePolicyState,Policy_CombinedSingleLimit,InsuredRelationship,VehicleID,VehicleMake,VehicleModel
0,Cust20065,N,2015-01-09,Multi-vehicle Collision,Total Loss,Other,State9,City4,Location 1404,MALE,JD,sales,video-games,1998-11-14,State2,250/500,own-child,Vehicle30662,Mercedes,E400
1,Cust37589,N,2015-02-20,Single Vehicle Collision,Minor Damage,Ambulance,State4,City3,Location 1675,FEMALE,High School,transport-moving,polo,2000-08-19,State2,100/300,own-child,Vehicle17183,Toyota,Highlander
2,Cust24312,N,2015-01-14,Multi-vehicle Collision,Major Damage,Ambulance,State5,City2,Location 1546,FEMALE,PhD,machine-op-inspct,exercise,2000-06-23,State1,500/1000,other-relative,Vehicle33982,Volkswagen,Passat
3,Cust5493,Y,2015-01-07,Multi-vehicle Collision,Major Damage,Ambulance,State7,City4,Location 1413,FEMALE,College,exec-managerial,exercise,1992-01-15,State2,100/300,other-relative,Vehicle12299,Toyota,Highlander
4,Cust7704,Y,2015-02-26,Multi-vehicle Collision,Major Damage,Other,State4,City6,Location 1367,MALE,Masters,sales,chess,2001-09-23,State3,250/500,unmarried,Vehicle30447,Ford,Wrangler
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,Cust9773,N,2015-02-13,Single Vehicle Collision,Minor Damage,Fire,State7,City3,Location 1324,MALE,JD,farming-fishing,basketball,2007-02-07,State2,250/500,unmarried,Vehicle24503,Nissan,RSX
27145,Cust38439,N,2015-01-19,Multi-vehicle Collision,Total Loss,Police,State5,City3,Location 1880,MALE,Associate,prof-specialty,golf,2006-10-18,State2,100/300,own-child,Vehicle9733,Accura,RSX
27146,Cust38444,N,2015-01-21,Multi-vehicle Collision,Total Loss,Police,State5,City7,Location 1632,MALE,Associate,prof-specialty,golf,2011-11-23,State1,100/300,not-in-family,Vehicle1823,Saab,RSX
27147,Cust26466,N,2015-01-02,Parked Car,Trivial Damage,None,State4,City7,Location 1364,FEMALE,Masters,exec-managerial,reading,1997-08-04,State3,250/1000,wife,Vehicle9113,Accura,RSX
27148,Cust29555,N,2015-01-16,Single Vehicle Collision,Total Loss,Police,State8,City7,Location 1950,FEMALE,PhD,tech-support,reading,2008-01-04,State2,250/1000,wife,Vehicle7530,Volkswagen,RSX

In [7]:
df.select_dtypes(include = 'O').nunique()

CustomerID                    27149
ReportedFraud                     2
DateOfIncident                   71
TypeOfIncident                    4
SeverityOfIncident                4
AuthoritiesContacted              5
IncidentState                     7
IncidentCity                      7
IncidentAddress                1000
InsuredGender                     2
InsuredEducationLevel             7
InsuredOccupation                14
InsuredHobbies                   20
DateOfPolicyCoverage           6627
InsurancePolicyState              3
Policy_CombinedSingleLimit        9
InsuredRelationship               6
VehicleID                     27149
VehicleMake                      14
VehicleModel                     39
dtype: int64

In [8]:
df.InsuredHobbies.unique()

array(['video-games', 'polo', 'exercise', 'chess', 'board-games',
       'base-jumping', 'reading', 'camping', 'yachting', 'golf', 'hiking',
       'kayaking', 'skydiving', 'cross-fit', 'bungie-jumping', 'movies',
       'basketball', 'dancing', 'sleeping', 'paintball'], dtype=object)

In [9]:
df.DateOfPolicyCoverage

0        1998-11-14
1        2000-08-19
2        2000-06-23
3        1992-01-15
4        2001-09-23
            ...
27144    2007-02-07
27145    2006-10-18
27146    2011-11-23
27147    1997-08-04
27148    2008-01-04
Name: DateOfPolicyCoverage, Length: 27149, dtype: object

In [10]:
df['YearOfPolicy'] = df.DateOfPolicyCoverage.str[0:4].astype('int')

In [11]:
df['YearOfPolicy']

0        1998
1        2000
2        2000
3        1992
4        2001
         ...
27144    2007
27145    2006
27146    2011
27147    1997
27148    2008
Name: YearOfPolicy, Length: 27149, dtype: int64

In [12]:
Incident_date = df.DateOfIncident.sort_values().unique()
Incident_date

array(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
       '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
       '2015-01-09', '2015-01-10', '2015-01-11', '2015-01-12',
       '2015-01-13', '2015-01-14', '2015-01-15', '2015-01-16',
       '2015-01-17', '2015-01-18', '2015-01-19', '2015-01-20',
       '2015-01-21', '2015-01-22', '2015-01-23', '2015-01-24',
       '2015-01-25', '2015-01-26', '2015-01-27', '2015-01-28',
       '2015-01-29', '2015-01-30', '2015-01-31', '2015-02-01',
       '2015-02-02', '2015-02-03', '2015-02-04', '2015-02-05',
       '2015-02-06', '2015-02-07', '2015-02-08', '2015-02-09',
       '2015-02-10', '2015-02-11', '2015-02-12', '2015-02-13',
       '2015-02-14', '2015-02-15', '2015-02-16', '2015-02-17',
       '2015-02-18', '2015-02-19', '2015-02-20', '2015-02-21',
       '2015-02-22', '2015-02-23', '2015-02-24', '2015-02-25',
       '2015-02-26', '2015-02-27', '2015-02-28', '2015-03-01',
       '2015-03-02', '2015-03-03', '2015-03-04', '2015-03-05',
       '2015-03-06', '2015-03-07', '2015-03-08', '2015-03-09',
       '2015-03-10', '2015-03-11', '2015-03-14'], dtype=object)

In [13]:
#df.DateOfIncident = pd.to_datetime(df.DateOfIncident)

In [14]:
enc = OrdinalEncoder()
df[['DateOfIncident']] = enc.fit_transform(df[['DateOfIncident']])

In [15]:
df.DateOfIncident

0         8.0
1        50.0
2        13.0
3         6.0
4        56.0
         ...
27144    43.0
27145    18.0
27146    20.0
27147     1.0
27148    15.0
Name: DateOfIncident, Length: 27149, dtype: float64

In [16]:
df.drop(columns = ['CustomerID', 
                   'DateOfPolicyCoverage', 'VehicleID', 'IncidentAddress', 'InsurancePolicyNumber'], inplace = True)

In [17]:
df.select_dtypes(include = 'O').nunique()

ReportedFraud                  2
TypeOfIncident                 4
SeverityOfIncident             4
AuthoritiesContacted           5
IncidentState                  7
IncidentCity                   7
InsuredGender                  2
InsuredEducationLevel          7
InsuredOccupation             14
InsuredHobbies                20
InsurancePolicyState           3
Policy_CombinedSingleLimit     9
InsuredRelationship            6
VehicleMake                   14
VehicleModel                  39
dtype: int64

## 2.1 Binary Categorical variable processing

In [18]:
df.ReportedFraud.value_counts()

N    19971
Y     7178
Name: ReportedFraud, dtype: int64

In [19]:
df.ReportedFraud.replace(['N', 'Y'], [0, 1], inplace = True)

In [20]:
df.ReportedFraud.value_counts()

0    19971
1     7178
Name: ReportedFraud, dtype: int64

In [21]:
df.InsuredGender.value_counts()

FEMALE    14903
MALE      12246
Name: InsuredGender, dtype: int64

In [22]:
df.InsuredGender.replace(['FEMALE', 'MALE'], [0, 1], inplace = True)

In [23]:
df.InsuredGender.value_counts()

0    14903
1    12246
Name: InsuredGender, dtype: int64

In [24]:
df.select_dtypes(include = 'O').nunique()

TypeOfIncident                 4
SeverityOfIncident             4
AuthoritiesContacted           5
IncidentState                  7
IncidentCity                   7
InsuredEducationLevel          7
InsuredOccupation             14
InsuredHobbies                20
InsurancePolicyState           3
Policy_CombinedSingleLimit     9
InsuredRelationship            6
VehicleMake                   14
VehicleModel                  39
dtype: int64

## 2.1 Categorical processing with order encoder

In [25]:
df.SeverityOfIncident.unique()

array(['Total Loss', 'Minor Damage', 'Major Damage', 'Trivial Damage'],
      dtype=object)

In [26]:
df.SeverityOfIncident.value_counts()

Minor Damage      9878
Total Loss        7724
Major Damage      7068
Trivial Damage    2479
Name: SeverityOfIncident, dtype: int64

In [27]:
df.SeverityOfIncident.replace(['Trivial Damage', 'Minor Damage', 'Major Damage', 'Total Loss'], 
                               range(4), inplace = True)

In [28]:
df.SeverityOfIncident.value_counts()

1    9878
3    7724
2    7068
0    2479
Name: SeverityOfIncident, dtype: int64

In [29]:
df.InsuredEducationLevel.value_counts()

JD             4523
High School    4285
Associate      3948
MD             3931
Masters        3901
PhD            3357
College        3204
Name: InsuredEducationLevel, dtype: int64

In [30]:
df.InsuredEducationLevel.replace(['High School', 'Associate', 'College', 'Masters', 'JD', 'MD', 'PhD'], 
                               range(7), inplace = True)

In [31]:
df.InsuredEducationLevel.value_counts()

4    4523
0    4285
1    3948
5    3931
3    3901
6    3357
2    3204
Name: InsuredEducationLevel, dtype: int64

In [32]:
df.select_dtypes(include = 'O').nunique()

TypeOfIncident                 4
AuthoritiesContacted           5
IncidentState                  7
IncidentCity                   7
InsuredOccupation             14
InsuredHobbies                20
InsurancePolicyState           3
Policy_CombinedSingleLimit     9
InsuredRelationship            6
VehicleMake                   14
VehicleModel                  39
dtype: int64

## 2.2 Categorical processing with One-Hot-Encoder

In [33]:
df_c = df.select_dtypes(include = 'O')

In [34]:
df_n = df.select_dtypes(exclude = 'O')

In [35]:
df_n

,ReportedFraud,DateOfIncident,SeverityOfIncident,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,...,InsuredZipCode,InsuredGender,InsuredEducationLevel,CapitalGains,CapitalLoss,CustomerLoyaltyPeriod,Policy_Deductible,PolicyAnnualPremium,VehicleYOM,YearOfPolicy
0,0,8.0,3,19,3,1,1,9396.0,4698.0,29879.0,...,471784,1,4,0,-42700,432,2000,1142.87,2005,1998
1,0,50.0,1,14,1,1,1,6539.0,6539.0,49232.0,...,431937,0,0,51300,0,128,1000,1274.38,2010,2000
2,0,13.0,2,21,3,0,0,6069.0,6069.0,30686.0,...,479320,0,6,0,0,346,745,1269.93,2002,2000
3,1,6.0,2,12,3,2,0,253.0,5741.0,39678.0,...,607763,0,2,47400,-56100,42,986,1218.60,2011,1992
4,1,56.0,2,3,3,1,2,7407.0,14813.0,59252.0,...,441783,1,3,0,0,109,576,1431.02,2010,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,0,43.0,1,16,1,1,2,5543.0,5543.0,39429.0,...,454139,1,4,0,0,251,1000,1108.55,2002,2007
27145,0,18.0,3,19,3,2,0,8678.0,8738.0,76245.5,...,463809,1,1,20000,-75000,14,1008,1551.84,2014,2006
27146,0,20.0,3,16,3,2,0,13224.0,7990.0,66679.0,...,444155,1,1,0,-75000,153,660,1119.32,2013,2011
27147,0,1.0,0,12,1,1,1,728.0,1457.0,5099.0,...,603123,0,3,0,-63900,241,1674,1229.88,2004,1997
27148,0,15.0,3,11,1,2,3,15757.0,16322.0,58255.0,...,463291,0,6,51100,0,113,500,1341.72,2009,2008

In [36]:
dummies_df_c = pd.get_dummies(df_c, drop_first = True)

In [37]:
dummies_df_c

,TypeOfIncident_Parked Car,TypeOfIncident_Single Vehicle Collision,TypeOfIncident_Vehicle Theft,AuthoritiesContacted_Fire,AuthoritiesContacted_None,AuthoritiesContacted_Other,AuthoritiesContacted_Police,IncidentState_State4,IncidentState_State5,IncidentState_State6,...,VehicleModel_Pathfinder,VehicleModel_RAM,VehicleModel_RSX,VehicleModel_Silverado,VehicleModel_TL,VehicleModel_Tahoe,VehicleModel_Ultima,VehicleModel_Wrangler,VehicleModel_X5,VehicleModel_X6
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,0,1,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
27145,0,0,0,0,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
27146,0,0,0,0,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
27147,1,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
27148,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [38]:
df1 = pd.concat([df_n, dummies_df_c], axis = 1)

In [39]:
df1

,ReportedFraud,DateOfIncident,SeverityOfIncident,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,...,VehicleModel_Pathfinder,VehicleModel_RAM,VehicleModel_RSX,VehicleModel_Silverado,VehicleModel_TL,VehicleModel_Tahoe,VehicleModel_Ultima,VehicleModel_Wrangler,VehicleModel_X5,VehicleModel_X6
0,0,8.0,3,19,3,1,1,9396.0,4698.0,29879.0,...,0,0,0,0,0,0,0,0,0,0
1,0,50.0,1,14,1,1,1,6539.0,6539.0,49232.0,...,0,0,0,0,0,0,0,0,0,0
2,0,13.0,2,21,3,0,0,6069.0,6069.0,30686.0,...,0,0,0,0,0,0,0,0,0,0
3,1,6.0,2,12,3,2,0,253.0,5741.0,39678.0,...,0,0,0,0,0,0,0,0,0,0
4,1,56.0,2,3,3,1,2,7407.0,14813.0,59252.0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27144,0,43.0,1,16,1,1,2,5543.0,5543.0,39429.0,...,0,0,1,0,0,0,0,0,0,0
27145,0,18.0,3,19,3,2,0,8678.0,8738.0,76245.5,...,0,0,1,0,0,0,0,0,0,0
27146,0,20.0,3,16,3,2,0,13224.0,7990.0,66679.0,...,0,0,1,0,0,0,0,0,0,0
27147,0,1.0,0,12,1,1,1,728.0,1457.0,5099.0,...,0,0,1,0,0,0,0,0,0,0
27148,0,15.0,3,11,1,2,3,15757.0,16322.0,58255.0,...,0,0,1,0,0,0,0,0,0,0

## 2.3. Train-test splitting and Standardization

In [40]:
X = df1.drop(columns = ['ReportedFraud'])
y = df1['ReportedFraud']

In [41]:
X.shape, y.shape

((27149, 137), (27149,))

In [42]:
col_names = X.columns
col_names

Index(['DateOfIncident', 'SeverityOfIncident', 'IncidentTime',
       'NumberOfVehicles', 'BodilyInjuries', 'Witnesses',
       'AmountOfInjuryClaim', 'AmountOfPropertyClaim', 'AmountOfVehicleDamage',
       'InsuredAge',
       ...
       'VehicleModel_Pathfinder', 'VehicleModel_RAM', 'VehicleModel_RSX',
       'VehicleModel_Silverado', 'VehicleModel_TL', 'VehicleModel_Tahoe',
       'VehicleModel_Ultima', 'VehicleModel_Wrangler', 'VehicleModel_X5',
       'VehicleModel_X6'],
      dtype='object', length=137)

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [44]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((21719, 137), (21719,), (5430, 137), (5430,))

In [45]:
df_X_train = pd.DataFrame(X_train, columns = col_names)
df_X_test = pd.DataFrame(X_test, columns = col_names)

In [46]:
df_X_train

,DateOfIncident,SeverityOfIncident,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,...,VehicleModel_Pathfinder,VehicleModel_RAM,VehicleModel_RSX,VehicleModel_Silverado,VehicleModel_TL,VehicleModel_Tahoe,VehicleModel_Ultima,VehicleModel_Wrangler,VehicleModel_X5,VehicleModel_X6
21334,46.0,1,22,1,2,2,13977.0,13977.0,42877.0,58,...,0,0,0,0,0,0,0,0,0,0
24031,52.0,0,5,1,2,0,1183.0,661.0,5147.0,27,...,0,0,0,0,0,0,0,0,0,0
8510,4.0,2,15,1,2,3,6215.0,9107.0,34765.0,38,...,0,0,0,1,0,0,0,0,0,0
17052,19.0,3,18,3,1,2,14961.0,14961.0,56987.0,44,...,0,0,0,0,0,0,0,0,1,0
6925,51.0,3,16,3,2,3,7393.0,467.0,48484.0,39,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21575,55.0,1,9,1,1,3,12043.0,6021.0,42150.0,48,...,0,0,0,0,0,0,0,0,0,0
5390,19.0,3,19,2,2,1,8078.0,8078.0,68825.0,26,...,0,0,1,0,0,0,0,0,0,0
860,56.0,3,7,1,1,1,4826.0,8620.0,34481.0,41,...,0,0,0,0,0,0,0,0,0,0
15795,54.0,3,1,1,1,0,8468.0,5401.0,40137.0,37,...,0,0,0,0,0,0,0,0,0,0
23654,20.0,0,6,1,2,3,569.0,835.0,5049.5,44,...,0,0,0,0,0,0,0,1,0,0

In [47]:
scale = StandardScaler()
X_train_scaled = scale.fit_transform(X_train)
X_test_scaled = scale.transform(X_test)

In [48]:
X_train_scaled.shape, X_test_scaled.shape

((21719, 137), (5430, 137))

In [49]:
df_X_train_scaled = pd.DataFrame(X_train_scaled, columns = col_names)
df_X_test_scaled = pd.DataFrame(X_test_scaled, columns = col_names)

In [50]:
df_X_train_scaled

,DateOfIncident,SeverityOfIncident,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,...,VehicleModel_Pathfinder,VehicleModel_RAM,VehicleModel_RSX,VehicleModel_Silverado,VehicleModel_TL,VehicleModel_Tahoe,VehicleModel_Ultima,VehicleModel_Wrangler,VehicleModel_X5,VehicleModel_X6
0,0.979599,-0.757628,1.679184,-0.812326,1.286021,0.484845,1.505300,1.542087,0.289712,2.447573,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
1,1.336119,-1.785419,-1.098216,-0.812326,1.286021,-1.439209,-1.371709,-1.500071,-1.828482,-1.481041,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
2,-1.516046,0.270162,0.535549,-0.812326,1.286021,1.446872,-0.240155,0.429492,-0.165702,-0.087017,...,-0.179097,-0.21796,-0.121898,6.609788,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
3,-0.624744,1.297953,1.025678,1.347281,0.007944,0.484845,1.726574,1.766891,1.081860,0.673360,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,6.274543,-0.126485
4,1.276699,1.297953,0.698925,1.347281,1.286021,1.446872,0.024744,-1.544392,0.604494,0.039713,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21714,1.514380,-0.757628,-0.444710,-0.812326,0.007944,1.446872,1.070398,-0.275532,0.248898,1.180278,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
21715,-0.624744,1.297953,1.189055,0.267477,1.286021,-0.477182,0.178782,0.194408,1.746455,-1.607771,...,-0.179097,-0.21796,8.203581,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
21716,1.573800,1.297953,-0.771463,-0.812326,0.007944,-0.477182,-0.552501,0.318233,-0.181646,0.293172,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
21717,1.454960,1.297953,-1.751722,-0.812326,0.007944,-1.439209,0.266482,-0.417176,0.135887,-0.213746,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
21718,-0.565324,-1.785419,-0.934839,-0.812326,1.286021,1.446872,-1.509781,-1.460319,-1.833956,0.673360,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,4.615059,-0.159374,-0.126485

In [51]:
df_X_test_scaled

,DateOfIncident,SeverityOfIncident,IncidentTime,NumberOfVehicles,BodilyInjuries,Witnesses,AmountOfInjuryClaim,AmountOfPropertyClaim,AmountOfVehicleDamage,InsuredAge,...,VehicleModel_Pathfinder,VehicleModel_RAM,VehicleModel_RSX,VehicleModel_Silverado,VehicleModel_TL,VehicleModel_Tahoe,VehicleModel_Ultima,VehicleModel_Wrangler,VehicleModel_X5,VehicleModel_X6
0,-1.278365,0.270162,-0.934839,-0.812326,-1.270132,0.484845,0.592321,0.614544,0.387903,0.419901,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,6.256679,-0.160886,-0.216682,-0.159374,-0.126485
1,-1.040685,-0.757628,1.842561,1.347281,-1.270132,-1.439209,-0.195180,1.195286,0.596859,0.926819,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
2,0.860759,1.297953,1.352431,1.347281,-1.270132,1.446872,0.502147,-0.564075,-0.187316,0.673360,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,4.615059,-0.159374,-0.126485
3,-0.505904,1.297953,-0.444710,-0.812326,0.007944,-1.439209,-0.409033,0.535497,0.224365,-1.734500,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
4,-0.505904,0.270162,1.189055,-0.812326,-1.270132,0.484845,-0.260393,0.682396,0.863079,1.813926,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5425,-1.040685,-0.757628,0.208796,-0.812326,0.007944,-0.477182,1.795160,-0.419461,1.184766,-1.481041,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
5426,-0.149383,0.270162,0.045420,-0.812326,-1.270132,-0.477182,1.407256,1.442479,1.214128,-0.847394,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
5427,0.741918,-1.785419,-0.934839,-0.812326,1.286021,-1.439209,-1.507757,-1.404347,-1.833956,-1.227582,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
5428,-1.278365,0.270162,-1.751722,-0.812326,0.007944,-0.477182,-0.557449,0.519048,0.033991,-1.227582,...,-0.179097,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485
5429,1.336119,1.297953,-1.915098,-0.812326,-1.270132,-0.477182,2.449312,-0.076316,1.048681,0.546631,...,5.583574,-0.21796,-0.121898,-0.151291,-0.157696,-0.159829,-0.160886,-0.216682,-0.159374,-0.126485

## 3. Models

In [52]:
import sklearn
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score, roc_curve, auc, RocCurveDisplay
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier
from xgboost import XGBClassifier
from sktools import GradientBoostingFeatureGenerator

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

## 3.1 KNeighborsClassifier

In [53]:
knn = KNeighborsClassifier()
scores_knn = cross_val_score(knn, X_train_scaled, y_train, cv=5, scoring = 'roc_auc')
scores_knn

array([0.90196205, 0.9036024 , 0.89834198, 0.90618786, 0.90804796])

In [54]:
round(np.mean(scores_knn), 2)

0.9

## 3.2 Logistic regression

In [55]:
y_train.value_counts()

0    16018
1     5701
Name: ReportedFraud, dtype: int64

In [56]:
lreg = LogisticRegression()
scores_lreg = cross_val_score(lreg, X_train_scaled, y_train, cv=5, scoring = 'roc_auc')
scores_lreg

array([0.79669738, 0.78664033, 0.79044944, 0.77886091, 0.79439232])

In [57]:
round(np.mean(scores_lreg), 2)

0.79

## 3.3 SVM

In [58]:
svc = SVC()
scores_svc = cross_val_score(svc, X_train_scaled, y_train, cv=5, scoring = 'roc_auc')
scores_svc

array([0.91344016, 0.9189782 , 0.90576089, 0.91520767, 0.9164347 ])

In [59]:
round(np.mean(scores_svc), 2)

0.91

In [60]:
svc_poly = SVC(kernel='poly')
scores_svc_poly = cross_val_score(svc_poly, X_train_scaled, y_train, cv=5, scoring = 'roc_auc')
scores_svc_poly

array([0.91043268, 0.91785378, 0.90612967, 0.91822795, 0.91669268])

In [61]:
round(np.mean(scores_svc_poly), 2)

0.91

## 3.4 Decision Tree

In [62]:
dt = DecisionTreeClassifier()
scores_dt = cross_val_score(dt, X_train_scaled, y_train, cv=5, scoring = 'roc_auc')
scores_dt

array([0.79509823, 0.79816841, 0.7826779 , 0.79067485, 0.79118617])

In [63]:
round(np.mean(scores_dt), 2)

0.79

## 3.5 Random Forrest

In [64]:
rf = RandomForestClassifier(random_state = 42)
scores_rf = cross_val_score(rf, X_train, y_train, cv=5, scoring = 'roc_auc')
scores_rf

array([0.91309616, 0.91517128, 0.90149484, 0.9153345 , 0.91637349])

In [65]:
round(np.mean(scores_rf), 2)

0.91

## 3.6 AdaBoost with random forests

In [66]:
rf = RandomForestClassifier(random_state = 42)
ada = AdaBoostClassifier(rf, random_state = 42)
scores_ada = cross_val_score(ada, X_train, y_train, cv=5, scoring = 'roc_auc')
scores_ada

array([0.9150838 , 0.9135275 , 0.90293917, 0.91474032, 0.9164918 ])

In [67]:
round(np.mean(scores_ada), 2)

0.91

## 3.7 GradientBoostingClassifier

In [68]:
GB = GradientBoostingClassifier(random_state = 42)
scores_GB = cross_val_score(GB, X_train, y_train, cv=5, scoring = 'roc_auc')
scores_GB

array([0.87677971, 0.87956995, 0.87240648, 0.87100379, 0.88076296])

In [69]:
round(np.mean(scores_GB), 2)

0.88

## 3.8 XGBoost

In [70]:
xgb = XGBClassifier(random_state = 42)
scores_XGB = cross_val_score(xgb, X_train, y_train, cv=5, scoring = 'roc_auc')
scores_XGB

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[23:41:44] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[23:41:52] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[23:42:00] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[23:42:08] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/hctran/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[23:42:16] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

array([0.90451656, 0.90757031, 0.90144803, 0.91309309, 0.91460144])

In [71]:
round(np.mean(scores_XGB), 2)

0.91

## 3.9 Grid Search for the best model

It seems that SVM, Random forest, Adaboost with random forests, and XGBoost models all perform well. For the simplicity and interpretability I choose the Random forest model to proceed.

In [72]:
rf = RandomForestClassifier(random_state = 42)
params_rf = {'n_estimators': [40, 80, 160, 320, 400, 560, 640, 720]}
grid_rf = GridSearchCV(rf, param_grid = params_rf, cv = 5, scoring = 'roc_auc')
grid_rf.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42),
             param_grid={'n_estimators': [40, 80, 160, 320, 400, 560, 640,
                                          720]},
             scoring='roc_auc')

In [73]:
grid_rf.best_estimator_,grid_rf.best_score_

(RandomForestClassifier(n_estimators=560, random_state=42), 0.9136375799102174)

In [74]:
best_model = grid_rf.best_estimator_

## 4. Conclusion

It seems that the Random Forest with 560 estimators is the best model above. Now we check the final model performace on the test set.

## 4.1 The AUC scores

In [75]:
best_model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=560, random_state=42)

In [76]:
y_train_pred_proba = best_model.predict_proba(X_train)
y_test_pred_proba = best_model.predict_proba(X_test)

In [77]:
print('The AUC score for the performance on the test set:\n', roc_auc_score(y_test,y_test_pred_proba[:,1]))

The AUC score for the performance on the test set:
 0.9169513962382299

In [78]:
print('The AUC score for the performance on the train set:\n', roc_auc_score(y_train,y_train_pred_proba[:,1]))

The AUC score for the performance on the train set:
 1.0

## 4.2 The accuracy, precision, recall, f1-scores

In [79]:
y_train_pred = best_model.predict(X_train)
y_test_pred = best_model.predict(X_test)

In [80]:
print('The classification report for the performance on the test set:\n', classification_report(y_test,y_test_pred))

The classification report for the performance on the test set:
               precision    recall  f1-score   support

           0       0.92      0.98      0.95      3953
           1       0.94      0.77      0.85      1477

    accuracy                           0.92      5430
   macro avg       0.93      0.88      0.90      5430
weighted avg       0.92      0.92      0.92      5430

In [81]:
print('The classification report for the performance on the train set:\n', classification_report(y_train,y_train_pred))

The classification report for the performance on the train set:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     16018
           1       1.00      1.00      1.00      5701

    accuracy                           1.00     21719
   macro avg       1.00      1.00      1.00     21719
weighted avg       1.00      1.00      1.00     21719

## 4.3 Feature importances

In [82]:
feature_importances = pd.Series(best_model.feature_importances_)

In [83]:
feature_importances.index = col_names

In [84]:
feature_importances.sort_values(ascending = False).head(20)

SeverityOfIncident          0.091433
InsuredHobbies_chess        0.041979
AmountOfPropertyClaim       0.041606
AmountOfInjuryClaim         0.039432
AmountOfVehicleDamage       0.038610
InsuredZipCode              0.037906
InsuredHobbies_cross-fit    0.036741
PolicyAnnualPremium         0.035482
DateOfIncident              0.034266
CustomerLoyaltyPeriod       0.033565
YearOfPolicy                0.028093
InsuredAge                  0.027673
IncidentTime                0.027563
Policy_Deductible           0.026136
VehicleYOM                  0.025515
CapitalLoss                 0.019094
CapitalGains                0.018804
InsuredEducationLevel       0.016937
Witnesses                   0.014973
BodilyInjuries              0.012492
dtype: float64